---
type Props = {
  title?: string
}

const { title } = Astro.props

type Music = {
  artists: Array<{ name: string }>;
  background: string;
  cover: string;
  name: string;
  url: string;
}

type Data = { success: false } | { success: true, music: Music }

const result = await fetch(new URL(`/api/spotify`, Astro.url));
const data = await result.json() as Data
---

<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | Wallace Oliveira` : 'Wallace Oliveira'}</title>
	</head>
	<body class="bg-orange-100 min-h-dvh grid grid-rows-[80px_1fr_80px]">
    <header class="container h-20 flex items-center justify-between gap-4">
      <h1 class="font-black font-mono">
        <a href="/">wallace oliveira</a>
      </h1>

      <nav class="border-2 rounded-lg bg-white border-zinc-700 flex shadow-solig">
        <a href="https://github.com/uselessdev" class="px-4 py-2 inline-flex font-mono font-medium text-sm hover:bg-orange-50 first:rounded-l-lg last:rounded-r-lg">Github</a>
        <a href="https://linkedin.com/in/wallacebatistaoliveira" class="px-4 py-2 inline-flex font-mono font-medium text-sm hover:bg-orange-50 first:rounded-l-lg last:rounded-r-lg">LinkedIn</a>
      </nav>
    </header>

    <main class="relative">
      <div class="container min-h-[calc(100dvh-160px)]">
        <slot />
      </div>

      {data.success ? (
        <div class="fixed bottom-0 right-0 md:bottom-4 md:right-4 w-full md:max-w-sm border-4 flex border-zinc-900 rounded-ss-lg rounded-se-lg md:rounded-lg overflow-hidden p-2 gap-6 bg-white shadow-solig">
          <img src={data.music.cover} alt={data.music.name} class="rounded-md size-28 h-full aspect-square shadow-lg" />

          <div class="min-w-44 leading-tight flex flex-col gap-3">
            <div>
              <h3 class="font-semibold text-md font-mono">{data.music.name}</h3>
              <p class="text-sm font-medium text-orange-500 font-mono">
                {data.music.artists.map(({ name }) => name).join(' ft. ')}
              </p>
            </div>

            <a href={data.music.url} class="bg-orange-200 font-mono mt-auto w-fit inline-flex py-1 px-3 rounded-md text-xs font-medium hover:bg-orange-300">ouvir no spotify &UpperRightArrow;</a>
          </div>
        </div>
      ) : null}
    </main>
	</body>
</html>
